{% extends 'base.html.twig' %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}



{% block title %}Singin{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">Veuillez vous connecter </h1>
    <div class='row ' >
        <div class='col-md-6 mx-auto'>
            <form action="{{ path('app_signin') }}" method="POST">
                <div class="form-group">
                    <label for="email"> Email</label>
                    <input type="text" id="email" required class="form-control" placeholder="Entrer votre adresse email ... " name="_username">
                </div>
                 <div class="form-group">
                    <label for="password"> Mot de passe</label>
                    <input type="password" id="password" required class="form-control" placeholder="Entrer votre mot de passe ! " name="_password">
                </div>
                <div class="form-group">
                   <input type="checkbox" id="remember_me" name="_remember_me" />
                   <label for="remember_me">Se rappeler de moi</label>
                </div>
                <button type="submit" class="btn btn-primary"> Valider</button>
            </form>
             <p class="mb-3 mt-2 text-muted text-center">N'avez-vous pas encore de compte ? <a href="{{ path('app_signup') }}">Créez votre compte</a></p>
             <a href="{{ path('app_displaypins') }}"><button class='btn btn-primary mt-2'>Page d'accueil</button></a>
            
        </div>
    </div>
    
{% endblock %}